@{
  Layout = "_Layout";
}

@model Resourcey.Models.Section

<h1>Section Details</h1>
<hr/>

<h2>@Html.DisplayFor(model => model.Name)</h2>

@if(@Model.Resources.Count == 0)
{
  <p>There are no resources yet.</p>
}
else
{
  <h3>Resources in this section:</h3>
  <ul>
    @foreach (var resource in Model.Resources)
    {
      <p>@Html.ActionLink($"{resource.Name}", "Details", "Resources", new { id = resource.ResourceId })</p>
    }
  </ul>
}

<button type="button">@Html.ActionLink("Create a resource", "Create", "Resources", null, null, null, null, new {@class="button-styles"} )</button>

<button type="button">@Html.ActionLink("Edit section", "Edit", "Sections", null, null, null, new { id = Model.SectionId },new {@class="button-styles"} )</button>

<button type="button" >@Html.ActionLink("Delete section", "Delete", "Sections", null, null, null, new { id = Model.SectionId }, new {@class="button-styles"})</button>

<button type="button">@Html.ActionLink("Back to classroom", "Details", "Classrooms", null, null, null, new { id = Model.ClassroomId }, new {@class="button-styles"})</button>