@{
  Layout = "_Layout";
}

@model Resourcey.Models.Section

<h2>Edit</h2>

<h4>Edit this section: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SectionId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save" class="button-styles" />
}


<button type="button">@Html.ActionLink("Back to Classroom", "Index", "Classrooms", null, null, null, null, new {@class="button-styles"})</button>

@Html.ActionLink("Back to classroom", "Classrooms", "Details", null, null, null, new { id = Model.ClassroomId }, new {@class="button-styles"})</button>