@{
  Layout = "_Layout";
}

@using Resourcey.Enums
@model Resourcey.Models.Resource

<h1>New Resource</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Date)
  @Html.TextBoxFor(model => model.Date)

  @Html.LabelFor(model => model.ResourceUrl)
  @Html.TextBoxFor(model => model.ResourceUrl)

  <select asp-for="Type" asp-items="Html.GetEnumSelectList<ResourceType>()" ></select> 

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.Hidden("SectionId", TempData["sectionId"])

  <input type="submit" value="Add Resource" class="btn-btn-default"/>

}

@Html.ActionLink("Back to Classroom", "Index", "Classrooms")