@{
  Layout = "_Layout";
}

@using Resourcey.Enums
@model Resourcey.Models.Resource


<div class="card">
  <div class="card-header">
      <h5 class="card-title">New Resource</h5>
   <select asp-for="Type" asp-items="Html.GetEnumSelectList<ResourceType>()" ></select>
  </div>
  <div class="card-body">
    <p class="card-text">
      @using (Html.BeginForm())
{
  <p>@Html.TextBoxFor(model => model.Name, new { placeholder = "Resource Name" })</p>

  <p>@Html.TextBoxFor(model => model.Date, new { placeholder = "Section Add Date" })</p>

  <p> @Html.TextBoxFor(model => model.ResourceUrl, new { placeholder = "Resource Url" })</p>

  <p>@Html.TextBoxFor(model => model.Description, new { placeholder = "Resource Description" })</p>

  @Html.Hidden("SectionId", TempData["sectionId"])

  <p> <input type="submit" value="Add Resource" class="btn btn-primary"/></p>

}
  </div>
</div>