@{
  Layout = "_Layout";
}

@model Resourcey.Models.Resource


<div class="card">
  <div class="card-header">
      <h1 class="card-title">@Html.DisplayFor(model => model.Name)</h1>
  </div>
  <div class="card-body">
    <p class="card-text">

<p>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</p>
<p>@Html.DisplayNameFor(model => model.ResourceUrl): <a href="@Model.ResourceUrl">@Model.ResourceUrl</a></p>
<p>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</p>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayNameFor(model => model.Section): @Html.DisplayFor(model => model.Section.Name)</p>
  </div>
</div>

<button type="button">@Html.ActionLink("Edit Resource", "Edit", null, new { id = Model.ResourceId }, new{@class="button-styles"})</button>
<button type="button">@Html.ActionLink("Delete Resource", "Delete", null, new { id = Model.ResourceId }, new{@class="button-styles"})</button>