@{
  Layout = "_Layout";
}

@using Resourcey.Enums
@model Resourcey.Models.Resource

<h1>Edit This Resource</h1>

<div class="card">
  <div class="card-header">
      <h1 class="card-title">@Html.DisplayFor(model => model.Name)</h1>
  </div>
  <div class="card-body">
    <p class="card-text">

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ResourceId)

    <p>@Html.LabelFor(model => model.Name): @Html.EditorFor(model => model.Name) </p>

    <p>@Html.HiddenFor(model => model.ResourceUrl)</p>
    <p>@Html.HiddenFor(model => model.SectionId)</p>

    <p>@Html.LabelFor(model => model.Description): @Html.EditorFor(model => model.Description)</p>

    <p>@Html.HiddenFor(model => model.Date)</p>

    <p>@Html.Label("Type of Resource")
    <select asp-for="Type" asp-items="Html.GetEnumSelectList<ResourceType>()" ></select></p>

    <input type="submit" value="Save" />
}

  </div>
</div>
