@{
  Layout = "_Layout";
}

@model Resourcey.Models.Resource


<div class="card">
  <div class="card-header">
      <h5 class="card-title"><h3>@Html.DisplayFor(model => model.Name)</h3></h5>
  </div>
  <div class="card-body">
    <p class="card-text">

<h3>@Html.DisplayNameFor(model => model.Date): @Html.DisplayFor(model => model.Date)</h3>
<h3> @Html.DisplayNameFor(model => model.ResourceUrl): <a href="@Model.ResourceUrl">@Model.ResourceUrl</a></h3>
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
<h3>@Html.DisplayNameFor(model => model.Section): @Html.DisplayFor(model => model.Section.Name)</h3>
  </div>
</div>

