@{
  Layout = "_Layout";
}

@model Resourcey.Models.Classroom

<h2>Class Details</h2>

<h3>Course Name: @Html.DisplayFor(model => model.CourseName)</h3>

@if(Model.Sections.Count == 0)
{
  <p> This course doesn't have any sections yet</p>
}
else
{
<h4> Section</h4>
@foreach(Section x in Model.Sections)
  {
    @Html.ActionLink($"{x.Name}", "Details", "Sections", new { id = x.SectionId } )
  }
}

<p>@Html.ActionLink("Add a section", "Create", "Sections")</p>
<p>@Html.ActionLink("Back to Courses", "Index")</p>
<p>@Html.ActionLink("Edit Course", "Edit", new { id = Model.ClassroomId })</p>
<p>@Html.ActionLink("Delete Class", "Delete", new { id = Model.ClassroomId })</p>