@{
  Layout = "_Layout";
}

@model Resourcey.Models.Classroom

<h1>@Html.DisplayFor(model => model.CourseName)</h1>

@if(Model.Sections.Count == 0)
{
  <p> This course doesn't have any sections yet</p>
}
else
{
<h4> Section</h4>
@foreach(Section x in Model.Sections)
  {
    <p>@Html.ActionLink($"{x.Name}", "Details", "Sections", new { id = x.SectionId } )</p>
  }
}

<button type="button" class="btn btn-warning">@Html.ActionLink("Add a section", "Create", "Sections")</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("Back to Courses", "Index")</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("Edit Course", "Edit", new { id = Model.ClassroomId })</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("Delete Class", "Delete", new { id = Model.ClassroomId })</button>